
body, h1, h2, div {
    margin: 30;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    text-align: center; 
    display: flex;  
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh; 
    background-color: #f9f9f9;
}

h1 {
    margin-bottom: 30px;
}

div {
    margin-bottom: 20px;
}

img {
    max-width: 100%; 
    height: auto; 
    margin-bottom: 20px;
}
